In [47]:
# Para gestionar ficheros
# -----------------------------------------------------------------------
import os
import glob

# Para trabajar con access
# -----------------------------------------------------------------------
import subprocess


# Para trabajar con DataFrames
# -----------------------------------------------------------------------
import pandas as pd


# Para trabajar con regex
# -----------------------------------------------------------------------
import re

# Para trabajar con ficheros
# -----------------------------------------------------------------------
import os


# Para trabajar con los DataFrames
# -----------------------------------------------------------------------
import pandas as pd

# Para poner barras progreso
# -----------------------------------------------------------------------
from tqdm import tqdm


# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Ignorar warings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

### Cargamos los archivos de demanda

In [48]:
ruta_demanda = r"C:\Users\Administrador\Desktop\RCM\laboratorio-modulo5-leccion01-elt-extraccion\data\demanda"

In [49]:
archivos = os.listdir(ruta_demanda)
archivos

['Andalucía_2019.csv',
 'Andalucía_2020.csv',
 'Andalucía_2021.csv',
 'Aragón_2019.csv',
 'Aragón_2020.csv',
 'Aragón_2021.csv',
 'Canarias_2019.csv',
 'Canarias_2020.csv',
 'Canarias_2021.csv',
 'Cantabria_2019.csv',
 'Cantabria_2020.csv',
 'Cantabria_2021.csv',
 'Castilla - La Mancha_2019.csv',
 'Castilla - La Mancha_2020.csv',
 'Castilla - La Mancha_2021.csv',
 'Castilla y León_2019.csv',
 'Castilla y León_2020.csv',
 'Castilla y León_2021.csv',
 'Cataluña_2019.csv',
 'Cataluña_2020.csv',
 'Cataluña_2021.csv',
 'Ceuta_2019.csv',
 'Ceuta_2020.csv',
 'Ceuta_2021.csv',
 'Comunidad de Madrid_2019.csv',
 'Comunidad de Madrid_2020.csv',
 'Comunidad de Madrid_2021.csv',
 'Comunidad Foral de Navarra_2019.csv',
 'Comunidad Foral de Navarra_2020.csv',
 'Comunidad Foral de Navarra_2021.csv',
 'Comunitat Valenciana_2019.csv',
 'Comunitat Valenciana_2020.csv',
 'Comunitat Valenciana_2021.csv',
 'Extremadura_2019.csv',
 'Extremadura_2020.csv',
 'Extremadura_2021.csv',
 'Galicia_2019.csv',
 'Galicia_2020.csv',
 'Galicia_2021.csv',
 'Illes Balears_2019.csv',
 'Illes Balears_2020.csv',
 'Illes Balears_2021.csv',
 'La Rioja_2019.csv',
 'La Rioja_2020.csv',
 'La Rioja_2021.csv',
 'Melilla_2019.csv',
 'Melilla_2020.csv',
 'Melilla_2021.csv',
 'País Vasco_2019.csv',
 'País Vasco_2020.csv',
 'País Vasco_2021.csv',
 'Principado de Asturias_2019.csv',
 'Principado de Asturias_2020.csv',
 'Principado de Asturias_2021.csv',
 'Región de Murcia_2019.csv',
 'Región de Murcia_2020.csv',
 'Región de Murcia_2021.csv']

In [50]:
df_concatenado_demanda=pd.DataFrame()
for archivo in tqdm(archivos):
    archivo_split= archivo.split(".csv")
    nombre_anio=archivo_split[0].split("_")
    comunidad = nombre_anio[0]
    # definimos la ruta para abrir cada uno de los ficheros y realizar las transformaciones
    ruta_fichero_demanda = os.path.join(ruta_demanda, archivo)
    df = pd.read_csv(ruta_fichero_demanda,index_col=0)
    df["ccaa"] = comunidad
    # concatenamos todos los archivos de demanda
    df_concatenado_demanda = pd.concat([df_concatenado_demanda,df], axis=0)

100%|██████████| 57/57 [00:00<00:00, 294.60it/s]

### Cargamos los archivos de generacion electrica

In [51]:
ruta_generacion = r"C:\Users\Administrador\Desktop\RCM\laboratorio-modulo5-leccion01-elt-extraccion\data\generacion"

In [52]:
archivos = os.listdir(ruta_generacion)
archivos

['Andalucía_2019.csv',
 'Andalucía_2020.csv',
 'Andalucía_2021.csv',
 'Aragón_2019.csv',
 'Aragón_2020.csv',
 'Aragón_2021.csv',
 'Canarias_2019.csv',
 'Canarias_2020.csv',
 'Canarias_2021.csv',
 'Cantabria_2019.csv',
 'Cantabria_2020.csv',
 'Cantabria_2021.csv',
 'Castilla - La Mancha_2019.csv',
 'Castilla - La Mancha_2020.csv',
 'Castilla - La Mancha_2021.csv',
 'Castilla y León_2019.csv',
 'Castilla y León_2020.csv',
 'Castilla y León_2021.csv',
 'Cataluña_2019.csv',
 'Cataluña_2020.csv',
 'Cataluña_2021.csv',
 'Comunidad de Madrid_2019.csv',
 'Comunidad de Madrid_2020.csv',
 'Comunidad de Madrid_2021.csv',
 'Comunidad Foral de Navarra_2019.csv',
 'Comunidad Foral de Navarra_2020.csv',
 'Comunidad Foral de Navarra_2021.csv',
 'Comunitat Valenciana_2019.csv',
 'Comunitat Valenciana_2020.csv',
 'Comunitat Valenciana_2021.csv',
 'Extremadura_2019.csv',
 'Extremadura_2020.csv',
 'Extremadura_2021.csv',
 'Galicia_2019.csv',
 'Galicia_2020.csv',
 'Galicia_2021.csv',
 'Illes Balears_2019.csv',
 'Illes Balears_2020.csv',
 'Illes Balears_2021.csv',
 'La Rioja_2019.csv',
 'La Rioja_2020.csv',
 'La Rioja_2021.csv',
 'Melilla_2019.csv',
 'Melilla_2020.csv',
 'Melilla_2021.csv',
 'País Vasco_2019.csv',
 'País Vasco_2020.csv',
 'País Vasco_2021.csv',
 'Principado de Asturias_2019.csv',
 'Principado de Asturias_2020.csv',
 'Principado de Asturias_2021.csv',
 'Región de Murcia_2019.csv',
 'Región de Murcia_2020.csv',
 'Región de Murcia_2021.csv']

In [53]:
df_concatenado_generacion=pd.DataFrame()
for archivo in tqdm(archivos):
    archivo_split= archivo.split(".csv")
    nombre_anio=archivo_split[0].split("_")
    comunidad = nombre_anio[0]
    # definimos la ruta para abrir cada uno de los ficheros y realizar las transformaciones
    ruta_fichero_generacion = os.path.join(ruta_generacion, archivo)
    df = pd.read_csv(ruta_fichero_generacion, index_col=0)
    df["ccaa"] = comunidad
    df_concatenado_generacion = pd.concat([df_concatenado_generacion,df], axis=0)

100%|██████████| 54/54 [00:00<00:00, 338.40it/s]

In [54]:
df_concatenado_demanda.head()

         value  percentage                       datetime  cod_ccaa       ccaa
0  3668893.328           1  2019-01-01T00:00:00.000+01:00         4  Andalucía
1  3152278.091           1  2019-02-01T00:00:00.000+01:00         4  Andalucía
2  3216356.360           1  2019-03-01T00:00:00.000+01:00         4  Andalucía
3  3029639.973           1  2019-04-01T00:00:00.000+02:00         4  Andalucía
4  3154123.467           1  2019-05-01T00:00:00.000+02:00         4  Andalucía

In [55]:
df_concatenado_demanda.info()

<class 'pandas.core.frame.DataFrame'>
Index: 684 entries, 0 to 11
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   value       684 non-null    float64
 1   percentage  684 non-null    int64
 2   datetime    684 non-null    object
 3   cod_ccaa    684 non-null    int64
 4   ccaa        684 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 32.1+ KB

In [56]:
df_concatenado_generacion.head()

,value,percentage,datetime,type,cod_ccaa,ccaa
0,25288.605,0.029517,2019-01-01T00:00:00.000+01:00,Hidráulica,4,Andalucía
1,33933.350,0.030779,2019-02-01T00:00:00.000+01:00,Hidráulica,4,Andalucía
2,35913.000,0.029645,2019-03-01T00:00:00.000+01:00,Hidráulica,4,Andalucía
3,44050.848,0.041340,2019-04-01T00:00:00.000+02:00,Hidráulica,4,Andalucía
4,88535.452,0.068497,2019-05-01T00:00:00.000+02:00,Hidráulica,4,Andalucía

In [57]:
df_concatenado_generacion.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3557 entries, 0 to 11
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   value       3557 non-null   float64
 1   percentage  3557 non-null   float64
 2   datetime    3557 non-null   object
 3   type        3557 non-null   object
 4   cod_ccaa    3557 non-null   int64
 5   ccaa        3557 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 194.5+ KB

### Cargamos los archivos demográficos y economicos del INE

In [58]:
ruta_origen = r"C:\Users\Administrador\Desktop\RCM\laboratorio-modulo5-leccion01-elt-extraccion\data\ine"

In [59]:
archivos = os.listdir(ruta_origen)

In [60]:
archivos

['03001.csv', '67284.csv']

In [61]:
# Archivos demograficos del INE
for archivo in tqdm(archivos):
    # seleccionamos solo los archivos demograficos
    if "03001" in archivo:
        ruta_fichero_demografico = os.path.join(ruta_origen, archivo)
        df_datos_demograficos = pd.read_csv(ruta_fichero_demografico, encoding= 'latin-1', sep=';')

100%|██████████| 2/2 [00:00<00:00, 80.18it/s]

In [62]:
# Archivos economicos del INE
for archivo in tqdm(archivos):
    # seleccionamos solo los archivos demograficos
    if "67284" in archivo:
        ruta_fichero_economico = os.path.join(ruta_origen, archivo)
        df_datos_economicos = pd.read_csv(ruta_fichero_economico,encoding= 'latin-1',sep=';')

100%|██████████| 2/2 [00:00<00:00, 154.24it/s]

### Limpieza de datos

Empezamos con los dataframes de demanda y generación

Eliminamos la columna "Unnamed 0" de ambos dataframes

En el DataFrame de la demanda vamos a poner la fecha en el formato correcto

In [75]:
pd.to_datetime(df_concatenado_demanda["datetime"], utc=True).dt.tz_localize(None).dt.year

0     2018
1     2019
2     2019
3     2019
4     2019
      ...
7     2021
8     2021
9     2021
10    2021
11    2021
Name: datetime, Length: 684, dtype: int32

In [44]:
df_concatenado_demanda["month"] = df_concatenado_demanda["datetime"].apply(
    lambda x: pd.to_datetime(x).month if pd.notnull(x) else None
)
df_concatenado_demanda["year"] = df_concatenado_demanda["datetime"].apply(
    lambda x: pd.to_datetime(x).year if pd.notnull(x) else None
)

df_concatenado_demanda.drop(columns="datetime", inplace=True)

In [45]:
# VAmos a ver si tenemos nulos y a hacernos una idea de los tipos de datos que tenemos
df_concatenado_demanda.info()

<class 'pandas.core.frame.DataFrame'>
Index: 684 entries, 0 to 11
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   value       684 non-null    float64
 1   percentage  684 non-null    int64
 2   cod_ccaa    684 non-null    int64
 3   ccaa        684 non-null    object
 4   month       684 non-null    int64
 5   year        684 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 37.4+ KB